# Î∂ÑÏÑùÌååÏù¥ÌîÑÎùºÏù∏ÎßåÎì§Í∏∞_ÌÉÄÏù¥ÌÉÄÎãâÎç∞Ïù¥ÌÑ∞ÏÖã_train
* trainÎç∞Ïù¥ÌÑ∞Î°ú ÌõàÎ†®ÌñàÏùÑ Îïå ÏÇ¨Ïö©Ìïú label encoding, scaler, model

# Î≥ÄÏàò/Î™®Îç∏/Ïä§ÏºÄÏùºÎü¨ Îì±ÏùÑ Ï†ÄÏû•/Î°úÎìú ÌïòÎäî Î∞©Î≤ï joblib(ÏßÅÎ†¨Ìôî)

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import koreanize_matplotlib

In [4]:
df = pd.read_csv("./data/Titanic_train.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

# Ïù¥Ï†ÑÏóê ÌôïÏù∏ÌñàÎçò Îç∞Ïù¥ÌÑ∞ ÌäπÏÑ±Í≥º, ÌååÏÉùÎ≥ÄÏàò, Îç∞Ïù¥ÌÑ∞Ï≤òÎ¶¨ Î∞©Î≤ïÏùÑ Ïù¥Ïö©Ìï¥ ÌååÏù¥ÌîÑÎùºÏù∏ Íµ¨Ï∂ï

In [6]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [7]:
data = df[['Survived', 'Pclass', 'Sex', 'Age', 'SibSp',
       'Parch', 'Embarked']]
data

     Survived  Pclass     Sex   Age  SibSp  Parch Embarked
0           0       3    male  22.0      1      0        S
1           1       1  female  38.0      1      0        C
2           1       3  female  26.0      0      0        S
3           1       1  female  35.0      1      0        S
4           0       3    male  35.0      0      0        S
..        ...     ...     ...   ...    ...    ...      ...
886         0       2    male  27.0      0      0        S
887         1       1  female  19.0      0      0        S
888         0       3  female   NaN      1      2        S
889         1       1    male  26.0      0      0        C
890         0       3    male  32.0      0      0        Q

[891 rows x 7 columns]

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
train, test = train_test_split(data, test_size=0.2, random_state=42, stratify=data['Survived'])

In [10]:
train

     Survived  Pclass     Sex   Age  SibSp  Parch Embarked
692         1       3    male   NaN      0      0        S
481         0       2    male   NaN      0      0        S
527         0       1    male   NaN      0      0        S
855         1       3  female  18.0      0      1        S
801         1       2  female  31.0      1      1        S
..        ...     ...     ...   ...    ...    ...      ...
359         1       3  female   NaN      0      0        Q
258         1       1  female  35.0      0      0        C
736         0       3  female  48.0      1      3        S
462         0       1    male  47.0      0      0        S
507         1       1    male   NaN      0      0        S

[712 rows x 7 columns]

In [11]:
test

     Survived  Pclass     Sex   Age  SibSp  Parch Embarked
565         0       3    male  24.0      2      0        S
160         0       3    male  44.0      0      1        S
553         1       3    male  22.0      0      0        C
860         0       3    male  41.0      2      0        S
241         1       3  female   NaN      1      0        Q
..        ...     ...     ...   ...    ...    ...      ...
880         1       2  female  25.0      0      1        S
91          0       3    male  20.0      0      0        S
883         0       2    male  28.0      0      0        S
473         1       2  female  23.0      0      0        C
637         0       2    male  31.0      1      1        S

[179 rows x 7 columns]

In [12]:
print(train['Survived'].value_counts())
print(test['Survived'].value_counts())

Survived
0    439
1    273
Name: count, dtype: int64
Survived
0    110
1     69
Name: count, dtype: int64

In [13]:
test.to_csv("./data/titanic_test.csv", index=False)

In [15]:
train['family'] = train['SibSp'] + train['Parch']
train = train.drop(['SibSp','Parch'], axis=1)
train

     Survived  Pclass     Sex   Age Embarked  family
692         1       3    male   NaN        S       0
481         0       2    male   NaN        S       0
527         0       1    male   NaN        S       0
855         1       3  female  18.0        S       1
801         1       2  female  31.0        S       2
..        ...     ...     ...   ...      ...     ...
359         1       3  female   NaN        Q       0
258         1       1  female  35.0        C       0
736         0       3  female  48.0        S       4
462         0       1    male  47.0        S       0
507         1       1    male   NaN        S       0

[712 rows x 6 columns]

In [16]:
X = train.drop(['Survived'], axis=1)
y = train['Survived']

In [17]:
X

     Pclass     Sex   Age Embarked  family
692       3    male   NaN        S       0
481       2    male   NaN        S       0
527       1    male   NaN        S       0
855       3  female  18.0        S       1
801       2  female  31.0        S       2
..      ...     ...   ...      ...     ...
359       3  female   NaN        Q       0
258       1  female  35.0        C       0
736       3  female  48.0        S       4
462       1    male  47.0        S       0
507       1    male   NaN        S       0

[712 rows x 5 columns]

In [18]:
y

692    1
481    0
527    0
855    1
801    1
      ..
359    1
258    1
736    0
462    0
507    1
Name: Survived, Length: 712, dtype: int64

# Î≤îÏ£ºÌòï Ïª¨ÎüºÍ≥º Ïà´ÏûêÌòï Ïª¨Îüº Î∂ÑÎ¶¨

In [19]:
cat_cols = X.select_dtypes(include='object').columns
cat_cols

Index(['Sex', 'Embarked'], dtype='object')

In [20]:
num_cols = X.select_dtypes(exclude='object').columns
num_cols

Index(['Pclass', 'Age', 'family'], dtype='object')

# X, y Î•º train/validÎ°ú ÎÇòÎàÑÍ∏∞

In [31]:
len(X)

712

In [32]:
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

# Îç∞Ïù¥ÌÑ∞ Ï†ÑÏ≤òÎ¶¨ ÌååÏù¥ÌîÑ Íµ¨ÏÑ±
* ÏàòÏπòÌòï ÏûêÎ£å: ÌèâÍ∑†ÏúºÎ°ú ÎåÄÏ≤¥ + Ïä§ÏºÄÏùºÎßÅ
* Î≤îÏ£ºÌòï ÏûêÎ£å: ÏµúÎπàÍ∞í ÎåÄÏ≤¥ + Ïõê-Ìï´ Ïù∏ÏΩîÎî©


---

# üì¶ Pipeline ÏÇ¨Ïö©Î≤ï ÏïÑÏ£º ÏûêÏÑ∏Ìïú ÏÑ§Î™Ö

## 1Ô∏è‚É£ PipelineÏùÄ Î¨¥ÏóáÏùÑ ÌïòÎäîÍ∞Ä?

PipelineÏùÄ Ïó¨Îü¨ Îã®Í≥ÑÎ•º **ÏàúÏÑúÎåÄÎ°ú Ïó∞Í≤∞Ìïú ÌïòÎÇòÏùò Î™®Îç∏ Í∞ùÏ≤¥**ÏûÖÎãàÎã§.

```python
pipe = Pipeline([
    ("preprocess", preprocess),
    ("model", model)
])
```

Í≤âÏúºÎ°ú Î≥¥Î©¥ `pipe`Îäî Î™®Îç∏ ÌïòÎÇòÏ≤òÎüº Î≥¥Ïù¥ÏßÄÎßå,
ÎÇ¥Î∂ÄÏóêÏÑúÎäî Îã§Ïùå ÏàúÏÑúÎ°ú ÎèôÏûëÌï©ÎãàÎã§.

1. preprocess (Ï†ÑÏ≤òÎ¶¨)
2. model (ÌïôÏäµ/ÏòàÏ∏°)

---

## 2Ô∏è‚É£ fit()Ïù¥ Ìò∏Ï∂úÎêòÎ©¥ ÎÇ¥Î∂ÄÏóêÏÑú ÏùºÏñ¥ÎÇòÎäî Ïùº

```python
pipe.fit(X_train, y_train)
```

### Îã®Í≥ÑÎ≥Ñ ÎèôÏûë

‚ë† preprocess.fit_transform(X_train)

- ÏàòÏπòÌòï Ï§ëÏïôÍ∞í Í≥ÑÏÇ∞ (train Í∏∞Ï§Ä)
- ÌèâÍ∑†/ÌëúÏ§ÄÌé∏Ï∞® Í≥ÑÏÇ∞ (train Í∏∞Ï§Ä)
- Î≤îÏ£º Î™©Î°ù Í∏∞Ïñµ (train Í∏∞Ï§Ä)
- X_trainÏùÑ Ïà´Ïûê ÌñâÎ†¨Î°ú Î≥ÄÌôò

‚ë° model.fit(X_train_transformed, y_train)

- Î≥ÄÌôòÎêú train Îç∞Ïù¥ÌÑ∞Î°ú Î™®Îç∏ ÌïôÏäµ

üî• ÌïµÏã¨: Ï†ÑÏ≤òÎ¶¨ ÌÜµÍ≥ÑÎäî **Î∞òÎìúÏãú trainÏóêÏÑúÎßå Í≥ÑÏÇ∞Îê®**
‚Üí Îç∞Ïù¥ÌÑ∞ ÎàÑÏàò Î∞©ÏßÄ

---

## 3Ô∏è‚É£ predict()Í∞Ä Ìò∏Ï∂úÎêòÎ©¥ ÎÇ¥Î∂ÄÏóêÏÑú ÏùºÏñ¥ÎÇòÎäî Ïùº

```python
pipe.predict(X_test)
```

‚ë† preprocess.transform(X_test)
- Ïù¥ÎØ∏ trainÏóêÏÑú ÌïôÏäµÎêú ÌÜµÍ≥ÑÍ∞í ÏÇ¨Ïö©
- testÎ°úÎäî Ï†àÎåÄ fitÌïòÏßÄ ÏïäÏùå

‚ë° model.predict(X_test_transformed)

üî• ÌïµÏã¨: testÎäî transformÎßå ÏàòÌñâ

---

## 4Ô∏è‚É£ RandomizedSearchCVÏôÄ Pipeline

ÌååÎùºÎØ∏ÌÑ∞ Ïù¥Î¶Ñ Í∑úÏπô:

```
Ïä§ÌÖùÏù¥Î¶Ñ__ÌååÎùºÎØ∏ÌÑ∞
```

ÏòàÏãú:

```
model__max_depth
model__C
preprocess__cat__ohe__handle_unknown
```

Ïñ∏ÎçîÎ∞î 2Í∞ú(__)Îäî ‚ÄúÎã®Í≥Ñ ÏïàÏúºÎ°ú Îì§Ïñ¥Í∞ÑÎã§‚ÄùÎäî ÏùòÎØ∏ÏûÖÎãàÎã§.

---

## 5Ô∏è‚É£ Ïôú PipelineÏù¥ Ïã§Î¨¥ÏóêÏÑú Ï§ëÏöîÌïúÍ∞Ä?

‚úî Îç∞Ïù¥ÌÑ∞ ÎàÑÏàò Î∞©ÏßÄ  
‚úî ÍµêÏ∞®Í≤ÄÏ¶ùÏóêÏÑúÎèÑ foldÎ≥ÑÎ°ú ÏïàÏ†ÑÌïòÍ≤å Ï†ÑÏ≤òÎ¶¨  
‚úî Î™®Îç∏ Ï†ÄÏû• Ïãú Ï†ÑÏ≤òÎ¶¨ Ìè¨Ìï® Ï†ÄÏû• Í∞ÄÎä•  
‚úî ÏÑúÎπÑÏä§ÏóêÏÑú raw Îç∞Ïù¥ÌÑ∞ Í∑∏ÎåÄÎ°ú predict Í∞ÄÎä•  

---

## 6Ô∏è‚É£ ColumnTransformer + Pipeline Íµ¨Ï°∞ Ï†ïÎ¶¨

```
ÏõêÎ≥∏ Îç∞Ïù¥ÌÑ∞
   ‚Üì
ColumnTransformer
   ‚îú‚îÄ ÏàòÏπòÌòï: Imputer ‚Üí Scaler
   ‚îî‚îÄ Î≤îÏ£ºÌòï: Imputer ‚Üí OneHot
   ‚Üì
Î™®Îç∏
```

Ïù¥ Ï†ÑÏ≤¥ Í≥µÏ†ïÏùÑ ÌïòÎÇòÎ°ú Î¨∂ÏùÄ Í≤ÉÏù¥ PipelineÏûÖÎãàÎã§.

In [21]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

In [22]:
num_cols

Index(['Pclass', 'Age', 'family'], dtype='object')

In [23]:
num_pipe = Pipeline(steps=[
    ("imputer", SimpleImputer(strategy='mean')),
    ("scaler", StandardScaler())
])

cat_pipe = Pipeline(steps=[
    ("imputer", SimpleImputer(strategy='most_frequent')),
    ("ohe", OneHotEncoder(drop='first', handle_unknown='ignore'))
])

preprocess = ColumnTransformer(
    transformers=[
        ("num", num_pipe, num_cols),
        ("cat", cat_pipe, cat_cols)
    ],
    remainder="drop"
)

# Î™®Îç∏ Ï†ïÏùò, ÌïòÏù¥ÌçºÌååÎùºÎØ∏ÌÑ∞ Ï†ïÏùò, randomsearch

In [25]:
from sklearn.model_selection import StratifiedKFold, RandomizedSearchCV
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from xgboost import XGBClassifier
from sklearn.svm import SVC
from sklearn.metrics import (accuracy_score, precision_score, recall_score,
f1_score, roc_auc_score, classification_report)

In [26]:
cv = StratifiedKFold(n_splits=5, shuffle=True, random_state=42)
scoring = "roc-auc"

models = {
    "DecisionTree" : DecisionTreeClassifier(random_state=42, class_weight="balanced"),
    "RandomForest" : RandomForestClassifier(random_state=42, class_weight="balanced"),
    "LogisticRegression" : LogisticRegression(max_iter=2000, class_weight="balanced"),
    "SVM" : SVC(probability=True, class_weight="balanced", random_state=42),
    "XGBoost" : XGBClassifier(random_state=42)
}

In [27]:
models

{'DecisionTree': DecisionTreeClassifier(class_weight='balanced', random_state=42),
 'RandomForest': RandomForestClassifier(class_weight='balanced', random_state=42),
 'LogisticRegression': LogisticRegression(class_weight='balanced', max_iter=2000),
 'SVM': SVC(class_weight='balanced', probability=True, random_state=42),
 'XGBoost': XGBClassifier(base_score=None, booster=None, callbacks=None,
               colsample_bylevel=None, colsample_bynode=None,
               colsample_bytree=None, device=None, early_stopping_rounds=None,
               enable_categorical=False, eval_metric=None, feature_types=None,
               feature_weights=None, gamma=None, grow_policy=None,
               importance_type=None, interaction_constraints=None,
               learning_rate=None, max_bin=None, max_cat_threshold=None,
               max_cat_to_onehot=None, max_delta_step=None, max_depth=None,
               max_leaves=None, min_child_weight=None, missing=nan,
               monotone_constraints=None, multi_strategy=None, n_estimators=None,
               n_jobs=None, num_parallel_tree=None, ...)}

# Î™®Îç∏Î≥Ñ ÌïòÏù¥Ìçº ÌååÎùºÎØ∏ÌÑ∞ Ï†ïÏùò

In [ ]:
XGBClassifier(learn)

In [29]:
params = {
    "DecisionTree" : {
        "model__max_depth" : [2, 3, 4, 5, 7, 10, 15, 20],
        "model__min_samples_split" : [2,5, 10, 20, 30],
        "model__min_samples_leaf" : [1,2,5, 10, 20],
        "model__criterion" : ["gini", "entropy", "log_loss"]
        
    },
    "RandomForest" : {
        "model__n_estimators" : [200, 400, 600, 800, 1000],
        "model__criterion" : ["gini", "entropy", "log_loss"],
        "model__min_samples_split" : [2,5, 10, 20, 30],
        "model__min_samples_leaf" : [1,2,5, 10, 20],
        "model__max_depth" : [2, 3, 4, 5, 7, 10, 15, 20]
    },
    "LogisticRegression" : {
        "model__C" : np.logspace(-3, 2, 50),
        "model__solver" : ['lbfgs', 'liblinear', 'newton-cg', 'newton-cholesky', 'sag', 'saga'],
        "model__penalty" : ['l1', 'l2', 'elasticnet']
    },
    "SVM" : {
        "model__C" : np.logspace(-3, 2, 50),
        "model__gamma" : ['scale', 'auto'] + list(np.logspace(-4, 0, 10)),
        "model__kernel" : ['rbf', 'sigmoid']
    }, 
    "XGBoost" : {
        "model__n_estimators" : [200, 400, 600, 800, 1000],
        "model__max_depth" : [2, 3, 4, 5, 7, 10, 15, 20],
        "model__learning_rate" : list(np.logspace(-3, -0.3, 20))
    } 
}

params.keys()

dict_keys(['DecisionTree', 'RandomForest', 'LogisticRegression', 'SVM', 'XGBoost'])

In [30]:
from time import time

def evaluate_on_test(best_estimator, X_test, y_test):
    pred = best_estimator.predict(X_test)

    score = None
    if hasattr(best_estimator, "predict_proba"):
        score = best_estimator.predict_proba(X_test)[:, 1]
    elif hasattr(best_estimator, "decision_function"):
        score = best_estimator.decision_function(X_test)

    metrics = {
        "accuracy": accuracy_score(y_test, pred),
        "precision": precision_score(y_test, pred, zero_division=0),
        "recall": recall_score(y_test, pred, zero_division=0),
        "f1": f1_score(y_test, pred, zero_division=0),
    }

    if score is not None:
        metrics["roc_auc"] = roc_auc_score(y_test, score)
        metrics["pr_auc"]  = average_precision_score(y_test, score)
    else:
        metrics["roc_auc"] = np.nan
        metrics["pr_auc"]  = np.nan

    return metrics

In [35]:
results = []
best_search_objects = {}

N_ITER = 30
RANDOM_STATE = 42

for name, model in models.items():
#     print(name, model)
    print("=" * 30, name, "=" * 30)
    
    pipe = Pipeline(steps=[
        ("preprocess", preprocess),
        ("model", model)
    ])
    
    search = RandomizedSearchCV(
        estimator=pipe,
        param_distributions=params[name],
        n_iter=N_ITER,
        scoring=scoring,
        cv=cv,
        random_state=RANDOM_STATE,
        n_jobs=-1,
        verbose=0,
        refit=True)

DecisionTree DecisionTreeClassifier(class_weight='balanced', random_state=42)
============================== DecisionTree ==============================
RandomForest RandomForestClassifier(class_weight='balanced', random_state=42)
============================== RandomForest ==============================
LogisticRegression LogisticRegression(class_weight='balanced', max_iter=2000)
============================== LogisticRegression ==============================
SVM SVC(class_weight='balanced', probability=True, random_state=42)
============================== SVM ==============================
XGBoost XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, device=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              feature_weights=None, gamma=None, grow_policy=None,
              importance_type=None, interaction_constraints=None,
              learning_rate=None, max_bin=None, max_cat_threshold=None,
              max_cat_to_onehot=None, max_delta_step=None, max_depth=None,
              max_leaves=None, min_child_weight=None, missing=nan,
              monotone_constraints=None, multi_strategy=None, n_estimators=None,
              n_jobs=None, num_parallel_tree=None, ...)
============================== XGBoost ==============================