# 파이썬의 자료형(data type)
## 파이썬의 자료형은 동적으로 변화
* int: 정수(소숫점이 없는 숫자)
* float: 실수(소숫점이 있는 숫자)
* str: 문자/문자열
* list: 여러개의 자료가 순서대로 저장된 자료형, 모든 자료형을 넣어 만들 수 있음
* tuple: list와 비슷하나 한 번 만들면 수정이 안됨, 모든 자료형을 넣을 수 있음
* dictionary(dict): key : value 쌍으로 이루어진 자료형, 모든 자료형을 넣을 수 있음

# 데이터 타입을 출력하는 함수 type(변수)

# 정수형 변수(int)

In [1]:
a = 10
print(a)

10

In [2]:
print(type(a))

<class 'int'>

In [3]:
aa = "10"
print(aa)

10

In [4]:
print(type(aa))

<class 'str'>

In [5]:
aa = 10
print(aa, type(aa))

10 <class 'int'>

# 실수형 변수 float

In [6]:
b = 3.14
print(b, type(b))

3.14 <class 'float'>

# 정수형 변수 +, -, *, /  실수형 변수
* 정수형 변수(int)와 실수형 변수(float)를 연산하면 모두 실수(float)

In [7]:
print(a + b)
print(a - b)
print(a * b)
print(a / b)

13.14
6.859999999999999
31.400000000000002
3.184713375796178

* 정수변수 와 정수변수 연산

In [8]:
print(a, aa)

10 10

In [9]:
print(a + aa)
print(a - aa)
print(a * aa)
print(a / aa) # 정수 / 정수 = 실수

20
0
100
1.0

# 문자형 str

In [10]:
c = "문"
d = "자"
e = "문자열"

In [11]:
print(c, type(c))
print(d, type(d))
print(e, type(e))

문 <class 'str'>
자 <class 'str'>
문자열 <class 'str'>

화면이 좁아서 문자열을 잘라서 아래로 내리고 싶으면 \ 를 사용할 수 있다.

In [12]:
long_char = "화면이 좁아서 문자열을 잘라서 아래로 내리고 싶으면 를 사용할 수 있다.
화면이 좁아서 문자열을 잘라서 아래로 내리고 싶으면 를 사용할 수 있다."

SyntaxError: unterminated string literal (detected at line 1) (4165377245.py, line 1)

In [20]:
long_char = "화면이 좁아서 문자열을 잘라서 아래로 내리고 싶으면 \ 를 사용할 수 있다. \
화면이 좁아서 문자열을 잘라서 \
아래로 내리고 싶으면 를 \
사용할 수 있다."

In [21]:
print(long_char)

화면이 좁아서 문자열을 잘라서 아래로 내리고 싶으면 \ 를 사용할 수 있다. 화면이 좁아서 문자열을 잘라서 아래로 내리고 싶으면 를 사용할 수 있다.

In [22]:
long_char2 = """ 따옴표 3개로 문자열을 묶으면 줄바꿈이 자동으로 된다.
그래서 \ 를 쓸 필요가 없다."""

In [23]:
print(long_char2)

 따옴표 3개로 문자열을 묶으면 줄바꿈이 자동으로 된다.
그래서 \ 를 쓸 필요가 없다.

In [24]:
long_char2

' 따옴표 3개로 문자열을 묶으면 줄바꿈이 자동으로 된다.\n그래서 \\ 를 쓸 필요가 없다.'

# 문자 덧셈 + , 문자 반복 *

In [25]:
c

'문'

In [26]:
d

'자'

In [27]:
c + d

'문자'

In [28]:
a + c

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [29]:
c - d

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [30]:
c * d

TypeError: can't multiply sequence by non-int of type 'str'

In [31]:
c / d

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [32]:
c * 2

'문문'

문자변수1 + 문자변수2 = 문자가 합쳐짐

In [33]:
c + d

'문자'

문자나 문자열을 반복하고 싶을 때: 문자변수 * 숫자

In [34]:
(c + d) * 3

'문자문자문자'

In [36]:
print("==============================================================")
print("문자열의 덧셈과 곱셈")
print("==============================================================")

==============================================================
문자열의 덧셈과 곱셈
==============================================================

In [37]:
print("=" * 30)
print("문자열의 덧셈과 곱셈")
print("=" * 30)

==============================
문자열의 덧셈과 곱셈
==============================

# 문자열은 순서가 있다.
# 가장 앞글자가 0번, 0번부터 순서대로 숫자가 증가

In [38]:
long_char

'화면이 좁아서 문자열을 잘라서 아래로 내리고 싶으면 \\ 를 사용할 수 있다. 화면이 좁아서 문자열을 잘라서 아래로 내리고 싶으면 를 사용할 수 있다.'

길이를 재는 함수 len()

In [39]:
len(long_char)

83

* 인덱싱: 변수명[인덱스번호]
* 슬라이싱: 변수명[시작번호:끝번호+1]

In [50]:
print(long_char[4])

좁

In [51]:
long_char[3]

' '

In [52]:
print(long_char[0:4])

화면이

In [53]:
print(long_char[4:10])

좁아서 문자

In [54]:
print(long_char[4:-1])

좁아서 문자열을 잘라서 아래로 내리고 싶으면 \ 를 사용할 수 있다. 화면이 좁아서 문자열을 잘라서 아래로 내리고 싶으면 를 사용할 수 있다

In [55]:
print(long_char[-10:-1])

 사용할 수 있다

In [56]:
print(long_char[:80])

화면이 좁아서 문자열을 잘라서 아래로 내리고 싶으면 \ 를 사용할 수 있다. 화면이 좁아서 문자열을 잘라서 아래로 내리고 싶으면 를 사용할 수

In [57]:
print(long_char[40:])

다. 화면이 좁아서 문자열을 잘라서 아래로 내리고 싶으면 를 사용할 수 있다.

In [58]:
print(long_char[40:-10])

다. 화면이 좁아서 문자열을 잘라서 아래로 내리고 싶으면 를

# 리스트  list
* 리스트는 [정수, 실수, 문자, 리스트, 튜플 , 딕셔너리 ] 모두 넣을 수있다.
* 리스트는 여러 자료가 같이 나열된 형태이므로 순서가 있다.
* 인덱싱, 슬라이싱 가능
* 자료의 추가, 삭제가 가능하다.

In [59]:
l1 = [1, 2.0, '삼', [1,2,3], (4,5,6), {"key":"value"}]
l1

[1, 2.0, '삼', [1, 2, 3], (4, 5, 6), {'key': 'value'}]

In [60]:
print(l1, type(l1))

[1, 2.0, '삼', [1, 2, 3], (4, 5, 6), {'key': 'value'}] <class 'list'>

In [66]:
l1[5]

{'key': 'value'}

In [67]:
l1[:4]

[1, 2.0, '삼', [1, 2, 3]]

In [68]:
l1[2:5]

['삼', [1, 2, 3], (4, 5, 6)]

list는 순서가 있는 자료형

In [69]:
l1.append("리스트 자료형")

In [70]:
l1

[1, 2.0, '삼', [1, 2, 3], (4, 5, 6), {'key': 'value'}, '리스트 자료형']

In [71]:
l1[6]

'리스트 자료형'

In [72]:
del l1[6]

In [73]:
l1

[1, 2.0, '삼', [1, 2, 3], (4, 5, 6), {'key': 'value'}]

# 리스트는 리스트 내의 자료형을 그대로 유지

In [74]:
for item in l1:
    print(item, type(item))

1 <class 'int'>
2.0 <class 'float'>
삼 <class 'str'>
[1, 2, 3] <class 'list'>
(4, 5, 6) <class 'tuple'>
{'key': 'value'} <class 'dict'>

## 중첩리스트
* 리스트 안에 리스트가 있는 경우

In [76]:
l2 = [1,2,3, [4,5, [6,7,8, [9,10]]]]
l2

[1, 2, 3, [4, 5, [6, 7, 8, [9, 10]]]]

*  인덱싱으로 9를 출력하세요

In [88]:
l2[3][2][3][0]

9

In [89]:
l2[3]

[4, 5, [6, 7, 8, [9, 10]]]

In [96]:
l2[3][2][2:]

[8, [9, 10]]

In [91]:
l2[3][2][3]

[9, 10]

In [92]:
l2[3][2][3][0]

9

# Tuple 튜플 
* 여러가지 자료를 ()안에 넣어서 만드는 자료형
* 모든 data type을 자료로 받을 수 있다.
* 한 번 생성하면 수정이 되지 않는다.
* 튜플이 리스트 보다 코드 실행시 더 빠르다.

In [97]:
l3 = (1, 2.0, '삼', [1,2,3], (4,5,6), {"key":"value"})
l3

(1, 2.0, '삼', [1, 2, 3], (4, 5, 6), {'key': 'value'})

In [98]:
print(l3, type(l3))

(1, 2.0, '삼', [1, 2, 3], (4, 5, 6), {'key': 'value'}) <class 'tuple'>

In [99]:
l3.append("튜플")

AttributeError: 'tuple' object has no attribute 'append'

In [100]:
l3[-1]

{'key': 'value'}

In [101]:
del l3[-1]

TypeError: 'tuple' object doesn't support item deletion

In [102]:
l3[2:4]

('삼', [1, 2, 3])

In [104]:
l3[3][1]

2

# 딕셔너리형(dict) JSON {"key" : "value"}
* key와 value로 이루어진 데이터형
* json 이라고 불리며 웹상에서 데이터를 주고 받을 때 주로 사용
* 딕셔너리의 value에는 모든 자료형이 올 수 있음
* 딕셔너리는 순서가 없는 자료형
* key를 호출하면 value가 출력됨

In [105]:
dic1 = {"이름" : "홍길동", "나이" : 33, "키" : 175.4, 
        "가족" : ["둘리", "또치", "도우너"]}

In [106]:
dic1["이름"]

'홍길동'

In [107]:
dic1["나이"]

33

In [108]:
dic1["키"]

175.4

In [109]:
dic1["가족"]

['둘리', '또치', '도우너']

* 도우너만 출력

In [110]:
dic1["가족"][2]

'도우너'

In [111]:
dic2 = {"이름" : "홍길동", "나이" : 33, "키" : 175.4, 
        "가족" : [{"둘리": ["초능력", "공룡"]}, {"또치": ["달리기", "타조"]},
                  {"도우너" : ['음악', '외계인']}]}

In [118]:
dic2['가족'][2]["도우너"][0]

'음악'

딕셔너리의 길이는 key의 갯수

In [119]:
len(dic2)

4

딕셔너리에 자료추가

In [120]:
dic2['학교'] = "구름대학교"

In [121]:
dic2

{'이름': '홍길동',
 '나이': 33,
 '키': 175.4,
 '가족': [{'둘리': ['초능력', '공룡']}, {'또치': ['달리기', '타조']}, {'도우너': ['음악', '외계인']}],
 '학교': '구름대학교'}

In [122]:
dic2['전화번호'] = ["010-1111-2222", "02-222-3333"]

In [123]:
dic2

{'이름': '홍길동',
 '나이': 33,
 '키': 175.4,
 '가족': [{'둘리': ['초능력', '공룡']}, {'또치': ['달리기', '타조']}, {'도우너': ['음악', '외계인']}],
 '학교': '구름대학교',
 '전화번호': ['010-1111-2222', '02-222-3333']}

# 형변환 함수
* 형변환: data type 다른 data type으로 바꾸는 것

* 정수로 형변환 int()

* 실수로 변환 float()

* 문자열로 변환 str()

* 리스트 형변환 list()

* 튜플로 형변환 tuple()

# input() : 키보드 입력을 받는 함수
* input("화면에 표시될 메시지")
* 입력 받는 값은 " "으로 구분해서 여러개를 받을 수 있음
* 입력 받는 값은 모두 str 타입의 문자열

* input().split() 으로 여러 데이터를 list 형태로 받기